<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" data-test="form">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email Id</b><span style="color: red;">*</span></label>
    <p style="color: red;" *ngIf="loginForm.get('user_name').hasError('required') && loginForm.get('user_name').touched && !loginForm.get('user_name').pristine ">
      Email Id is Required
      </p>
    <input type="email"  name="email" id="email" formControlName="user_name" required>

    <label for="psw"><b>Password</b><span style="color: red;">*</span></label>
    <p style="color: red;" *ngIf="loginForm.get('user_password').hasError('required') && loginForm.get('user_password').touched ">
      Password is Required
      </p>
    <input type="password"  name="psw" id="psw" formControlName="user_password" required>

    
  
    <button type="submit" class="registerbtn" [disabled]="loginForm.invalid">Login</button>
  </div>
  
  
</form>

</body>
</html>
