<h1 data-test="about">Product Inventory</h1>
<h2>What is inventory and how is it managed?</h2>
<p>Inventory is the amount of tangible goods, products or services you offer your customers. 
    These goods are itemized and catalogued into an inventory management system.
    The goods that are recorded in a catalog can be either raw materials, goods that are in production or finished products. 
    Ecommerce businesses most likely deal with the latter, or finished goods that are currently in their possession.
     Inventory is a portion of a company's assets that are either ready to order or will be ready for sale soon.
</p>

<h2>Why is inventory important?</h2>
<p>
    Product inventory is a tangible asset because it's a real-time evaluation of the revenue a company is generating. 
    If an ecommerce store can't move product from it's inventory, it is clearly struggling to make sales and must adjust its operations, otherwise it won't obtain bottom-line revenue.

    Inventory management is crucial as a company expands, particularly to POS and other sales channels.
    
    Depending on the shelf life of some products, certain businesses have to move inventory much more quickly than others. Too much inventory in this instance will add to business expenses and reduce  revenue.
     Conversely, an ecommerce company that doesn't have enough inventory runs the risk of losing out on potential sales and therefore overall market share.
</p>

<h2>How does inventory benefit ecommerce businesses?</h2>
<p>In addition to helping ecommerce store owners gauge how their products are selling, inventory management provides a number of other benefits to online retailers as well:

</p>
<ul>
    <li>Ecommerce companies manage order increases without overselling what's currently in stock</li>
    <li>Business owners keep product information current</li>
    <li>Decision-makers have more control over multichannel order flow</li>
    <li>Back-end visibility is improved with inventory management software</li>
    <li>Data is better synchronized across all platforms in real time</li>
    <li>Overall product organization is improved though increased visibility</li>
    <li>Businesses don't run out of stock of items that are selling well or any other products</li>
</ul>