
<nav class="navbar navbar-inverse" data-test="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Product Inventory</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      
      <li><a href="products">Products</a></li>
      <li><a href="about">About</a></li>
      <li *ngIf="checkLoggedIn()"><a href="profile">View Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!checkLoggedIn()"><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li *ngIf="!checkLoggedIn()"><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li *ngIf="checkLoggedIn()"><input type="button" value="LogOut" (click)="logOut()" >Log Out</li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>



